<!-- -->
<div class="col-sm-12 col-md-8 main ">
    <div class="panel panel-default map-container-height">
        <div class="panel-body">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control">
                <ui-gmap-marker
                                coords="selfMarker.coords" options="selfMarker.options" idkey="0">
                </ui-gmap-marker>

                <ui-gmap-markers
                        models="currentUserOrders"
                        idKey="'id'"
                        coords="'self'"></ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </div>
</div>
<div class="col-sm-8 col-md-4 ">
    <div class="panel panel-default current-orders-height">
        <div class="panel-heading">
            Текущие заказы
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Мои</button>
                <button type="button" class="btn btn-default">Рядом</button>
                <button type="button" class="btn btn-default">Выполненные</button>
            </div>
        </div>

        <div class="panel-body">
            <div class="list-group">
                <a id="{{order.id}}" href="#" class="list-group-item" ng-repeat="order in currentUserOrders">
                    <h4 class="list-group-item-heading">Заказ №{{order.id}} от {{order.owner.fullName}}</h4>
                    <p class="list-group-item-text">{{order.description}}</p>
                </a>
            </div>
        </div>
    </div>
</div>