<div class="col-sm-12 col-md-8 main ">
    <div class="panel panel-default map-container-height">
        <div class="panel-body">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control">
                <ui-gmap-marker
                        coords="selfMarker.coords"
                        options="selfMarker.options"
                        idkey="selfMarker.id"
                        events="selfMarker.events"
                        >
                </ui-gmap-marker>

                <ui-gmap-markers
                        models="showingOrders"
                        idKey="'id'"
                        coords="'self'"></ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </div>
</div>
<div class="col-sm-8 col-md-4 current-orders-height">
    <div id="orders" class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10 col-sm-10">Вы исполняете заказы:</div>
            </div>
        </div>
        <div class="list-group">
            <a id="{{order.id}}" 
                data-toggle="modal" 
                data-target="#showOrderModal"
                class="list-group-item order-list-{{ordersLinks[order.id]}}"
                ng-click="setClickedOrder(order)"
                ng-repeat="order in showingOrders.slice(pageParameters.pageSize*currentPage.page, pageParameters.pageSize*(currentPage.page+1))">
                <p class="list-group-item-text">{{order.description.slice(0, pageParameters.descriptionLength)}}</p>
                <p class="list-group-item-text"><b>Адерс: </b>{{order.address}}</p>
                <p class="list-group-item-text"><b>Актуально до: </b>{{getExpireDate(order)}}</p>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid" position="fixed" class="col-md-4s col-sm-8">
    <nav align="center">
        <ul class="pagination">
            <li>
                <a aria-label="Previous" ng-click="previousPage(currentPage)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-repeat="i in currentPage.pages" ng-class="{true:'active', false:''}[i == currentPage.page]">
                <a ng-click="setPage(currentPage, i)">
                    {{i+1}}
                </a>
            </li>
            </li>
            <li>
                <a aria-label="Next" ng-click="nextPage(currentPage)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
