<div class="modal fade" id="showOrderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" ng-controller="ShowOrderModalController">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createOrderLabel">
                    Детали заказа
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" 
                                    ng-click="userTakesTask()"
                                    ng-hide="getStatus() != 'New' || getOrder().owner.userId == user.userId"
                                    class="btn btn-default btn-s btn-block" >
                                Выполнить заказ
                            </button>
                            <button type="button" 
                                    ng-click="cancelOrder()"
                                    ng-hide="getStatus() != 'Running' || getOrder().owner.userId == user.userId"
                                    class="btn btn-danger btn-s btn-block" >
                                Отказаться от заказа
                            </button>
                            <button type="button" 
                                    ng-click="orderToDone()"
                                    ng-hide="getStatus() != 'Running' || getOrder().owner.userId == user.userId"
                                    class="btn btn-success btn-s btn-block" >
                                Завершить выполнение
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="row">
                                <div class="col-md-6">                                
                                    <label>Описание:</label>
                                    <p class="text-justify">
                                        {{getDescription()}}
                                    </p>

                                    <label>Вознаграждение:</label>
                                    <p class="text-justify">
                                        {{getReward()}}
                                    </p>

                                    <label ng-if="!itemsEmpty()">Товары:</label>
                                    <p ng-if="!itemsEmpty()" class="text-justify">
                                        <div ng-repeat="item in getItemList()">
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1">
                                                    {{$index + 1}}
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    {{item.comment}}
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    {{item.expectedCost}} руб.
                                                </div>
                                            </div>
                                        </div>
                                    </p>

                                    <label>Адрес:</label>
                                    <p class="text-justify">
                                        {{getAddress()}}
                                    </p>
        
                                    <label>Актуально до:</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="text-justify" rows="3" id="expireDate">
                                                {{getExpireDate()}}
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="text-justify" rows="3" id="expireTime">
                                                {{getExpireTime()}}
                                            </p>
                                        </div>
                                    </div>

                                    <label>Телефон заказчика:</label>
                                    <p class="text-justify" ng-show="getStatus() == 'New'">
                                        <i>Скрыт</i>
                                    </p>
                                    <p class="text-justify" ng-show="timer > 0 && getStatus() == 'Running'">
                                        <i>
                                            Станет доступен через <font>{{timer}}</font> секунд
                                        </i>
                                    </p>
                                    <p class="text-justify" ng-hide="timer > 0">
                                        <i ng-hide="getOrder().telephoneNumber != null">
                                            Не указан
                                        </i>
                                        <i ng-hide="getOrder().telephoneNumber == null">
                                            {{getOrder().telephoneNumber}}
                                        </i>
                                    </p>
                                </div>
                                
                                <div class="col-md-6">
                                    <div ng-hide="getOrder().owner.userId == user.userId && getStatus() != 'New'">
                                        <label>Автор:</label>
                                        <a href="#/profile/{{getOrder().owner.userId}}">
                                            {{getOwnerName()}}
                                        </a>
                                        <a href="#/profile/{{getOrder().owner.userId}}">
                                            <img ng-src="{{getOwnerPhotoUrl()}}" class="img-thumbnail">
                                        </a>
                                    </div>

                                    <div ng-show="getOrder().owner.userId == user.userId && getStatus() != 'New'">
                                        <label>Исполнитель:</label>
                                        <a href="#/profile/{{getOrder().executor.userId}}">
                                            {{getExecutorName()}}
                                        </a>
                                        <a href="#/profile/{{getOrder().executor.userId}}">
                                            <img ng-src="{{getExecutorPhotoUrl()}}" class="img-thumbnail">
                                        </a>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div>
