<div class="modal fade" id="showOrderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" ng-controller="ShowOrderModalController">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createOrderLabel">
                    Детали заказа
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                                      
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" 
                                    ng-click="userTakesTask()"
                                    ng-hide="getStatus() != 'New'"
                                    class="btn btn-default btn-s btn-block" >
                                Выполнить заказ
                            </button> </br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="row">
                                <div class="col-md-6">                                
                                    <label for="comment">Описание:</label>
                                    <p class="text-justify">
                                        {{getDescription()}}
                                    </p>

                                    <label for="order_cost">Вознаграждение:</label>
                                    <p class="text-justify">
                                        {{getReward()}}
                                    </p>

                                    <label for="address">Адрес:</label>
                                    <p class="text-justify">
                                        {{getAddress()}}
                                    </p>
        
                                    <label for="expire_in_container">Актуально до:</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="text-justify" rows="3"id="expire_in_time">
                                                {{getExpireDate()}}
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="text-justify" rows="3"id="expire_in_time">
                                                {{getExpireTime()}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <label for="comment">Автор:</label>
                                    <a href="#/profile/{{phone.id}}">{{getOwnerName()}}</a>
                                    <a href="#/profile/{{phone.id}}" ><img ng-src="{{getOwnerPhotoUrl()}}" class="img-thumbnail"></a>
                                </div>
                            </div>                            
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div>
