<div class="modal fade" id="rateDoneOrder" tabindex="-1" role="dialog" ng-controller="rateDoneOrderController">
    <div class="modal-dialog rateDialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" align="center">
                    Оцените добросовестность заказчика
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default btn-lg" ng-click="rateCurrentOrder(1)">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 1
                        </button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="rateCurrentOrder(2)">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 2
                        </button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="rateCurrentOrder(3)">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 3
                        </button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="rateCurrentOrder(4)">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 4
                        </button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="rateCurrentOrder(5)">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 5
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
