<div id="profile-page-container">
    <div class="col-md-3">
        <div class="profile-avatar">
            <img src="{{currentUserProfile.photoUri}}" alt="160" class="img-thumbnail">

            <h2>{{currentUserProfile.fullName}}</h2>
        </div>
        <div id="executor-rating" class="progress">
            <div class="progress-bar" role="progressbar"
                 aria-valuenow="{{currentUserProfile.ratingAsExecutor}}" aria-valuemin="0" aria-valuemax="5"
                    style="width: {{currentUserProfile.ratingAsExecutor * 20}}%">
                Рейтинг исполнителя: {{currentUserProfile.ratingAsExecutor}}
            </div>
        </div>
        <div id="customer-rating" class="progress">
            <div class="progress-bar" role="progressbar"
                 aria-valuenow="{{currentUserProfile.ratingAsCustomer}}" aria-valuemin="0" aria-valuemax="5"
                 style="width: {{currentUserProfile.ratingAsCustomer * 20}}%">
                Рейтинг покупателя: {{currentUserProfile.ratingAsCustomer}}
            </div>
        </div>
    </div>

    <div class="col-md-5">

    </div>

    <div class="col-md-4">
    </div>
</div>
