<div class="modal fade" id="showOrderModal" tabindex="-1" role="dialog" aria-labelledby="infoOrderLabel">
    <div class="modal-dialog" role="document" ng-controller="ShowOrderModalController">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="infoOrderLabel">
                    Детали заказа №{{getOrder().id}}
                    <span ng-show="isOrderOutdated(getOrder()) && getOrder().status != 'Completed'" 
                          class="label label-danger">
                        Просрочен
                    </span>
                    <div style="display: inline-block" ng-if="getOrder().status == 'Completed' && getOrder().executor.userId != user.userId">
                        <div star-rating readonly="orderRated" max="5"
                             on-rating-selected="rateMyOrder(rating)"
                             rating-value="orderRatingValue"></div>
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Описание:</label>
                        <p class="text-justify break-word" ng-bind-html="getOrder().description | linky">
                        </p>

                        <label>Вознаграждение:</label>
                        <p class="text-justify break-word" ng-bind-html="getOrder().reward | linky">
                        </p>

                        <div ng-show="getOrder().items.length != 0">
                            <label>Товары:</label>
                            <p class="text-justify">
                                <div ng-repeat="item in getOrder().items">
                                    <div class="row">
                                        <div class="col-md-1 col-sm-1">
                                            {{$index + 1}}
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            {{item.comment}}
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            {{item.expectedCost}} руб.
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>

                        <label>Адрес:</label>
                        <p class="text-justify">
                            {{getOrder().address}}
                        </p>
                        <div ng-show="getOrder().status != 'Completed'">
                            <label>Актуально до:</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-justify" rows="3" id="expireDate">
                                        {{getExpireDate()}}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-justify" rows="3" id="expireTime">
                                        {{getExpireTime()}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="getOrder().owner.userId != user.userId">
                            <label>Контакты заказчика:</label>
                            <p class="text-justify" ng-show="getOrder().status == 'New'">
                                <i>Телефон скрыт</i>
                            </p>
                            <p class="text-justify" ng-show="getOrder().status == 'New'">
                                <i>Профиль ВКонтакте скрыт</i>
                            </p>
                            <p class="text-justify" 
                               ng-show="getOrder().telephoneNumberProvided && 
                               (getOrder().status == 'Running' || getOrder().status == 'Completed')">
                                <i ng-if="getOrder().telephoneNumber == null">
                                    Номер телефона скоро появится
                                </i>
                                <i ng-if="getOrder().telephoneNumber != null">
                                    {{getOrder().telephoneNumber}}
                                </i>
                            </p>
                            <p class="text-justify" 
                               ng-show="getOrder().status == 'Running' || getOrder().status == 'Completed'">
                                <i>
                                    <a ng-href="http://vk.com/id{{getOrder().owner.vkId}}" target="_blank">
                                        Профиль ВКонтакте
                                    </a>
                                </i>
                            </p>
                        </div>
                        <div ng-show="getOrder().owner.userId == user.userId && (getOrder().status == 'Running' || getOrder().status == 'Completed')">
                            <label>Контакты исполнителя:</label>
                            <p class="text-justify">
                                <i>
                                    <a ng-href="http://vk.com/id{{getOrder().executor.vkId}}">
                                        Профиль ВКонтакте
                                    </a>
                                </i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div ng-if="getOrder().owner.userId != user.userId">
                            <label>Автор:</label>
                            <a href="#/profile/{{getOrder().owner.userId}}">
                                {{getOrder().owner.fullName}}
                            </a>
                            <div ng-switch="getSocialRelationship()" style="display: inline">
                                <span ng-switch-when="Friends" class="label label-success">
                                    Друг
                                </span>
                                <span ng-switch-when="FriendsOfFriends" class="label label-warning">
                                    Друг друга
                                </span>
                                <!--<span ng-switch-default class="label label-default">-->
                                    <!--Нет социальной связи-->
                                <!--</span>-->
                            </div>
                            <a href="#/profile/{{getOrder().owner.userId}}">
                                <img ng-src="{{getOrder().owner.photoUri}}" 
                                     class="img-thumbnail  profile-avatar-image">
                            </a>
                        </div>

                        <div ng-if="getOrder().owner.userId == user.userId && getOrder().status != 'New'">
                            <label>Исполнитель:</label>
                            <a href="#/profile/{{getOrder().executor.userId}}">
                                {{getOrder().executor.fullName}}
                                <!--<div ng-switch="getSocialRelationship()">-->
                                    <!--<span ng-switch-when="Friend" class="label label-success">-->
                                        <!--Друг-->
                                    <!--</span>-->
                                    <!--<span ng-switch-when="FriendsOfFriends" class="label label-warning">-->
                                        <!--Друг друга-->
                                    <!--</span>-->
                                    <!--<span ng-switch-default class="label label-default">-->
                                        <!--Нет социальной связи-->
                                    <!--</span>-->
                                <!--</div>-->
                            </a>
                            <a href="#/profile/{{getOrder().executor.userId}}">
                                <img ng-src="{{getOrder().executor.photoUri}}" 
                                     class="img-thumbnail profile-avatar-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" 
                        ng-click="userTakesTask()"
                        ng-show="getOrder().status == 'New' && getOrder().owner.userId != user.userId"
                        class="btn btn-primary" >
                    Выполнить заказ
                </button>
                <button type="button" 
                        ng-click="cancelOrder()"
                        ng-show="getOrder().status == 'Running' && getOrder().owner.userId != user.userId"
                        class="btn btn-danger">
                    Отказаться от заказа
                </button>
                <button type="button" 
                        ng-click="orderToDone()"
                        data-toggle="modal"
                        data-target="#rateDoneOrder"
                        ng-show="getOrder().status == 'Running' && getOrder().owner.userId != user.userId"
                        class="btn btn-success" >
                    Завершить выполнение
                </button>
            </div>
        </div>
    </div>
</div>
