<div data-backdrop="static" data-keyboard="false" class="modal fade" id="rateDoneOrder" tabindex="-1" role="dialog" ng-controller="rateDoneOrderController">
    <div class="modal-dialog rateDialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" align="center">
                    Оцените добросовестность заказчика
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="rating-block-big" star-rating on-rating-selected="rateCurrentOrder(rating)"
                             readonly="false" max="5" rating-value="selectedValue"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
